* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20PX;
}

p {
    font-family: 'PT Sans';
    font-size: 0.85rem;
    color: #434343;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.02em;
}

h1 {
    padding: 10px 30px;
    font-size: 1.4rem;
    font-family: Montserrat;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.02em;
}

.color-primary {
    color: #DC3636;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 1px solid red
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border: 1px solid rgb(0, 166, 255)
}

header .logo .logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 60px;
    background-color: gray;
    color: white;
}

header .navbar {
    width: 69%;
    height: 100%;
    border: 1px solid rgb(0, 229, 255)
}

header .navbar ul li {
    display: inline;
    margin: 0px 15px;
    font-family: Arial, Helvetica, sans-serif;

}

header .navbar .box-1 {
    width: 100%;
    height: 50%;
    border: 1px solid rgb(0, 229, 255)
}

header .navbar .box-2 {
    width: 100%;
    height: 50%;
    border: 1px solid rgb(0, 229, 255)
}

.middle {
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-1 {
    width: 80%;
    margin: 30px 0px;
    background-color: white;
}

.section-1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.3rem;
    font-weight: 800;
    padding: unset;
    padding-right: 36px;
    line-height: 47px;
}

.section-1 .row-1 {
    display: flex;
    width: 100%;
}

.section-1 .box-1 {
    width: 70%;
    padding: 20px 30px;
    font-weight: 700;
}

.section-1 .box-1 button {
    margin: 15px 15px 0px 0px;
    padding: 5px 19px;
    border: 1px solid gray;
    background-color: unset;
    font-weight: 700;
    border-radius: 20px;

}

.section-1 .box-1 button:nth-child(2) {
    background-color: rgb(255, 198, 207);
    border: unset;
}

.section-1 .box-1 button:nth-child(3) {
    background-color: rgb(180, 180, 180);
    border: unset;
}

.section-1 .box-2 {
    width: 30%;
    padding: 0px 30px;
}

.section-1 .box-2 .grid-container {
    display: grid;
    max-width: 270px;
    padding-top: 10px;
}

.section-1 .box-2 .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 15px 25px;
}

.section-1 .box-2 .item1 {
    grid-column: 1 / span 2;
    text-align: left;
}

.item2 {
    grid-column: 3;
    grid-row: 1 / span 1;
}

.grid-container .s-item1 {
    grid-column: 2;
    grid-row: 1 / span 1;
    border: 1px solid black;
    border-bottom: unset;
}

.grid-container .s-item2 {
    border: 1px solid black;
    border-bottom: unset;
}

.grid-container .s-item3 {
    grid-column: 1 / span 2;

}

.section-1 .box-2 .sign-up {
    background-color: rgb(218, 0, 0);
    color: white;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 10px;
    border-top: unset;
}

.section-1 .box-2 .spot-btn {
    font-size: 0.8rem;
    font-weight: 800;
    background-color: unset;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.section-1 .row-2 {
    display: flex;
    width: 100%;
    padding-top: 40px;
    background-color: white;
}

.section-1 .row-2 .col {
    width: 100%;
    height: 100px;
    padding-left: 50px;
}

.section-1 span {
    color: rgb(206, 0, 0);
    font-weight: 100;
}

.section-2 {
    width: 80%;
}

.section-2 .row-1 {
    display: flex;
    width: 100%;
    background-color: white;
}

.section-2 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 21px 0px;
    font-size: 0.91rem;
    color: rgb(53, 53, 53);
}

.section-2 p span {
    font-size: 0.95rem;
    color: rgb(0, 122, 128);
    font-weight: 500;
}

.section-2 .col-1 {
    width: 70%;
    padding: 25px 40px;
}

.section-2 .col-2 {
    width: 30%;
    padding: 25px 40px;
    background-color: rgb(248, 235, 217);

}

.section-2 .col-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 100px;
}

.section-2 .col-2 button {
    background-color: white;
    color: rgb(214, 10, 10);
    border: 1px solid red;
    border-radius: 35px;
    padding: 8px 15px;
    font-size: 0.9rem;
    font-weight: 600;

}

.section-2 .row-2 {
    width: 100%;
    height: 200px;
    background-color: sandybrown;
}

.section-3 {
    width: 80%;
    margin: 30px 0px;
    padding: 30px 0px;
    background-color: rgb(255, 255, 255);
}



.section-3 p {
    padding: 10px 60px 10px 30px;
}

.section-3 p.learn-more {
    color: red;
}

.section-3 .row {
    display: flex;
    width: 100%;
}

.section-3 .row .col {
    width: 100%;
}

.section-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.section-4 .row-1 {
    width: 80%;
}

.section-4 h1 {
    padding: 10px 0px;
}

.section-4 .row-1 p {
    padding-bottom: 30px;
}

.section-4 .row-1 span {
    margin-right: 25px;
}

.section-4 .row-2 {
    width: 80%;
}

.section-4 hr {
    margin: 60px 0px;
}

.section-4 .row-2 h1 {
    padding: 0px 0px 10px 0px;
}

.section-4 .row-3 {
    display: flex;
    width: 80%;
}

.section-4 .row-3 h6 {
    padding: 40px 0px 10px 0px;
}

.section-4 .row-3 p {
    padding: 0px 50px 50px 0px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #434343;
    color: white;
}

footer h2 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.02em;
}

footer p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: white;
}

footer span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #F39B4E;
}

footer .row-1 {
    width: 60%;
    padding-top: 40px;
    padding-bottom: 10px;
}

footer .row-1 h2 {
    float: right;
}

footer .row-2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

footer .row-2 ul li {
    list-style: none;
    display: inline;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-right: 15px;
}

footer .row-3 {
    width: 80%;
    padding-top: 45px;
}

footer .row-4 {
    width: 80%;
}

footer .row-5 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.subscribe .search-container {
    float: right;
    background-color: white;
    border-radius: 20px;
    padding: 1px 1px;
}

.subscribe input[type=text] {
    padding: 6px;
    margin-top: 5px;
    font-size: 17px;
    border: none;
    margin-left: 8px;
    outline: none;
}

.subscribe .search-container button {
    float: right;
    padding: 12px 20px;
    margin: 0px;
    background: #F39B4E;
    color: white;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.subscribe .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .subscribe .search-container {
        float: none;
    }

    .subscribe input[type=text],
    .subscribe .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .subscribe input[type=text] {
        border: 1px solid #ccc;
    }
}